<div class="component">

  <div class="row">

    <div class="col-md-8 col-sm-8">
      <input pInputText type="text" [(ngModel)]="task"/>
    </div>

    <div class="col-md-4 col-sm-4">
      <button pButton type="button" (click)="create()" label="Add new task"></button>
    </div>

    <div class="col-md-12">

      <h3>TODO List</h3>

      <ul>

        <li *ngFor="let task of taskList" [ngClass]="task.state ? 'big' : 'small'">

          <div class="task" [ngClass]="task.id">
            <span>{{task.title}}</span>
            <p-checkbox binary="true" (onChange)="update(task)" [(ngModel)]="task.state"></p-checkbox>
          </div>

        </li>

      </ul>

    </div>


  </div>
</div>
